
.frames{
    width: 280px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #999;
    border: 10px solid #999;
}
.screen{
    background-color: white;
    width: 100%;
    height: 50px;
    position: relative;
    border: 1px solid rgb(212, 212, 212);
}
.screen .input{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    color: rgb(63, 63, 63);
    size: 100%;  
}
.keyboard{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item{
    font-size: 30px;
    outline: none;
    border: 0.1px solid rgb(212, 212, 212);
}
.item:hover{
    background-color: rgb(182, 152, 182);
    
}
.item17{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item19{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}
.item21{
    grid-column-start: 2;
    grid-column-end: 4;
}