*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frames{
    width: 500px;
    height: 610px;
    margin-top: 50px;
    margin-left: 200px;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    border: 20px solid #999;
}
.screen{
    width: 96%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    position: relative;
    columns: 6;
}
.screen .input{
    top: 10px;
    bottom: 10px;
    position: absolute;
    right: 5px;
    font-size: 40px;  
}
.keyboard{
    height: 92%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}
.item{
    font-size: 30px;
    border: 0.1 solid #999

}
.item:hover{
    background-color: rgb(182, 152, 182);   
}
.item17 {
    grid-column: 1 / span 2
}
.item19 {
    grid-column:4;
    grid-row:5 / span 2
}
.item21 {
    grid-column: 2 / span 2;
}